.header__container {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__controls {
  display: flex;
}

.header__search-bar,
.header__nav-icon,
.search-bar--close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.header__search-bar i,
.header__nav-icon i,
.search-bar--close i {
  font-size: 1.25rem;
  color: var(--white);
  cursor: pointer;
}

.header__nav-bar {
  margin: 1.5rem 0 0 0;
  width: 15.875rem;
  position: absolute;
  z-index: 1000;
  right: 1rem;
  top: 3rem;
  height: calc(100vh - 7rem);
  border-radius: .5rem;
  padding: 1.5rem;
  background: #2D415B;
  transition: .2s;
}

.nav-bar__link {
  margin: 0 0 1rem 0;
}

.nav-bar__pages {
  opacity: 16%;
  transition: .2s;
}

.nav-bar__pages:hover {
  opacity: 64%;
}

.nav-bar__pages:active {
  opacity: 100%;
}

.header__search-bar--full {
  display: none;
}

.search-bar--mobile {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  transition: .2s;
  width: 100%;
}

.search-bar--mobile.hidden {
  overflow: hidden;
  display: none;
}

.search-bar--close {
  margin: 0 0 0 .5rem;
}

.header__user-profile {
  display: none;
  align-items: center;
}

@media screen and (min-width: 768px) { 
  #search-bar-open {
    display: none;
  }

  .header__search-bar--full {
    display: inline;
    margin: 0 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .header__user-profile {
    display: flex;
  }

  .header__nav-icon {
    display: none;
  }
}