.menu__lateral {
  display: none;
}

.menu__title {
  display: none;
}

@media screen and (min-width: 1440px) {
  .menu__lateral {
    display: block;
    margin: 2.5rem 0 0 0;
  }
  
  .menu__title {
    font-family: var(--sidebar);
    display: block;
    text-transform: uppercase;
    font-weight: var(--sidebar-weight);
    font-size: var(--sidebar-size);
    letter-spacing: var(--sidebar-letter-spacing);
    color: var(--white);
    margin: 0 0 1rem 0;
  }
}