*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

body {
  background: var(--dark-blue);
  transition: .2s;
}

h2, h3 {
  font-family: var(--sidebar);
  text-transform: uppercase;
  font-weight: var(--sidebar-weight);
  font-size: var(--sidebar-size);
  letter-spacing: var(--sidebar-letter-spacing);
  color: var(--white);
}

a {
  color: var(--white);
  font-family: var(--body);
  font-size: var(--body-size);
  margin: 0 0 0 .5rem;
}

ul, li {
  list-style: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, .08);
  margin: 0 0 1.5rem 0;
}

.container {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.grid,
.grid--community,
.grid--saved {
  display: grid;
  grid-template-columns: 1fr;
}

.grid--saved {
  margin: 2.5rem 0 0 0;
  grid-auto-flow: row;
  gap: 2rem;
}

@media screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: 17rem 47rem 17rem;
    gap: 2.5rem;
  }

  .grid--community {
    grid-template-columns: 17rem 1fr;
    gap: 2.5rem;
  }

  .grid--saved {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

.hidden {
  display: none;
  opacity: 0;
}

.code__container {
  margin: 2.5rem 0 0 0;
}

.indent {
  margin: 0 0 0 1.5rem;
}

.double-indent {
  margin: 0 0 0 3rem;
}